/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-test-secret config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A custom config file. 
----------------------------------------------------------------------------------------
*/

params {
    outdir                     = 'results'
    max_memory                 = '1.GB'
    max_cpus                   = 1
    max_time                   = '1.h'
}

process{
    withName: 'ECHO_SECRET'{
        cpus                   = 1
        memory                 = '1.GB'
        time                   = '1.h'
    }
}